Today : {{ today }}

<hr />

<p
  appBasicHighlight
  [expiryDate]="expirationDate04"
  [innerHTML]="expirationDate04"
></p>
<p
  appBasicHighlight
  [expiryDate]="expirationDate03"
  [innerHTML]="expirationDate03"
></p>
<p
  appBasicHighlight
  [expiryDate]="expirationDate02"
  [innerHTML]="expirationDate02"
></p>
<p
  appBasicHighlight
  [expiryDate]="expirationDate01"
  [innerHTML]="expirationDate01"
></p>

<p
  appBasicHighlight
  [expiryDate]="expirationDate0"
  [innerHTML]="expirationDate0"
></p>
<p
  appBasicHighlight
  [expiryDate]="expirationDate1"
  [innerHTML]="expirationDate1"
></p>
<p
  appBasicHighlight
  [expiryDate]="expirationDate2"
  [innerHTML]="expirationDate2"
></p>
<p
  appBasicHighlight
  [expiryDate]="expirationDate3"
  [innerHTML]="expirationDate3"
></p>
<p
  appBasicHighlight
  [expiryDate]="expirationDate4"
  [innerHTML]="expirationDate4"
></p>
<p
  appBasicHighlight
  [expiryDate]="expirationDate5"
  [innerHTML]="expirationDate5"
></p>
<p
  appBasicHighlight
  [expiryDate]="expirationDate6"
  [innerHTML]="expirationDate6"
></p>
